.loginBtn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.registerBtn {
    margin-bottom: 10px;
}

.title {
    margin-top: 50px;
}

.subtitle {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    font-size: 10px;
}

ion-item {
    font-size: 14px;
    font-family: 'NunitoSans';
    text-align: initial;
}